@{
    ViewData["Title"] = "Cadastro de Clientes";
}

@model SistemaVendas.Aplicacao.Models.ClienteViewModel;

@{

    var disabled = (Model.Codigo == null) ? "disabled" : string.Empty;
}

<h2>Cadastro de Clientes</h2>

<form asp-controller="Cliente" asp-action="Cadastro" method="post">
    <input type="hidden" asp-for="Codigo" value="@Model.Codigo"/> 
    <div class="form-group">
        <div class="col-4">
            <label>Nome</label>
            <input class="form-control" type="text" asp-for="Nome" value="@Model.Nome"/>
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Email</label>
            <input class="form-control" type="text" asp-for="Email" value="@Model.Email"/>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>CPF/CNPJ</label>
            <input class="form-control" type="text" asp-for="CpfCnpj" value="@Model.CpfCnpj"/>
            <span class="text-danger" asp-validation-for="CpfCnpj"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Número de Telefone</label>
            <input class="form-control" type="text" asp-for="NumeroTelefone" value="@Model.NumeroTelefone"/>
            <span class="text-danger" asp-validation-for="NumeroTelefone"></span>
        </div>
    </div>
    <br>
    <div class="col">
        <button class="btn btn-info" type="button" onclick="Novo()">Novo</button>
        <button class="btn btn-success" type="submit">Gravar</button>
        <button class="btn btn-warning" type="button" onclick="Listar()">Listagem</button>
        <button class="btn btn-danger" type="button" onclick="Excluir(@Model.Codigo)" @disabled>Excluir</button>
    </div>
</form>

<script>
    function Novo() {
        window.location = window.origin + "/Cliente/Cadastro";
    }

    function Listar() {
        window.location = window.origin + "/Cliente";
    }

    function Excluir(Codigo) {
        window.location = window.origin + "/Cliente/Excluir/" + Codigo;
    }
</script>
